<section>
    <ul>
        <% data.forEach(data=>{ %>
            <li>
                <%=data.country%>
            </li>
            <li>
                <%=data.confirmed%>
            </li>
            <li>
                <%=data.date%>
            </li>
            <% }) %>
    </ul>
</section>